body {
  background-color: rgb(247, 222, 214);
  color: black;
  padding: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  text-align: right;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.links {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.links:hover {
  color: rgb(147,112,219);
}

.img {
  display: flex;
  width: 150px;
}

.app-title {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data-div{
  grid-column: 2 / span 2 ;
  grid-row: 1 / span 1;
  height: 650px;
  overflow: scroll;
  margin-left: 20px;
  overflow-x: hidden;
}

.form-div{
  height: 650px;
  text-align: left;
}

.form-div input {
  margin-bottom: 10px;
}

.form-div select {
  margin-bottom: 10px;
}

.form-div form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 10px 10px;
}

.form-div h3 {
  font-family: 'Caveat', cursive;
  font-size: 25px; 
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border-radius: 6px;
  background-color: rgb(245,245,245);
  margin-top: 10px;
}

.btn:hover {
  background-color: white;
}

.boba-div h3 {
  color: rgb(147,112,219);
  font-family: 'Caveat', cursive;
  font-size: 30px;
  text-shadow: 2px 2px lightgray;
}

.boba-div h4 {
  font-family: 'Raleway', sans-serif;
}

.Footer {
  margin-top: 100px;
}

/* //////////// MEDIA QUERIES //////////// */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .data {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .data-div {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin: 0 auto;
    margin-top: -200px;
  }
  .form-div {
    margin: 0 auto;
  }
  .Footer {
    margin-top: -100px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  body {
    background-color: lightgreen;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    background-color: coral;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    background-color: plum;
  }
}