body {
  background-color: lightgoldenrodyellow;
  color: black;
  padding: 10px;
  text-align: center;
}

.navbar {
  border: 1px solid black;
  text-align: right;
  width: auto;
  height: 150px;
}

.links {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.links:hover {
  text-decoration: underline;
}

p {
  border: 1px solid orange;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.data-div{
  border: 1px solid red;
  grid-column: 2 / span 2 ;
  grid-row: 1 / span 1;
  height: 650px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-div{
  border: 1px solid purple;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 650px;
}

